@model IEnumerable<BaseMVC.ViewModels.Project.ProjectListItemViewModel>

<table>
    <tr>
        <th>Action</th>
        <th>
        Name
            @*@Html.ActionLink("Name", "Search", new { pageNumber = 1, orderBy = "Name" })*@
        </th>
        <th>
        Owner
            @*@Html.ActionLink("Owner", "Search", new { pageNumber = 1, orderBy = "Owner" })*@
        </th>
        <th>
        Start date
            @*@Html.ActionLink("Start date", "Search", new { pageNumber = 1, orderBy = "StartDate" })*@
        </th>
        <th>
            End date
        </th>
        <th>
            Total tasks
        </th>
        <th>
            Participants involved
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
            @if (item.TasksCount > 0)
            {
                @Html.ActionLink("Show tasks", "ShowForProject", new { controller = "Task", id = item.Id });
            } else 
            {
                <text>Show tasks</text>
            }
            |
            @Html.ActionLink("Add new task", "Add", new { controller = "Task", projectId = item.Id })
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                (
                @if (item.TasksCount == 0)
                {
                    <text>no tasks defined</text>
                }
                else
                {
                    @Html.ActionLink("Show tasks", "ShowForProject", new { controller = "Task", id = item.Id });
                }
                )
            </td>
            <td>
                @item.OwnerFirstName @item.OwnerLastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @item.TasksCount
            </td>
            <td>
                @item.ParticipantsCount
            </td>
        </tr>
    }
</table>
