@model BaseMVC.ViewModels.Project.ProjectViewModel

@{
    ViewBag.Title = "Project details: " + Model.Name;
}

<h2>Project details: @Model.Name</h2>

<fieldset>
    <legend>@Model.Name</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Owner</div>
    <div class="display-field">
        @if (!string.IsNullOrEmpty(Model.OwnerFullName))
        {
            @Html.ActionLink(Model.OwnerFullName, "Summary", new { controller = "User", id = Model.OwnerId });
        }
        else
        {
            <text>Brak</text>
        }
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">Task list</div>
    <div class="display-field">
        <ul>
        @foreach (var task in Model.Tasks)
        {
            <li>@Html.ActionLink(task.Title, "Details", new { controller = "Tasks", Id = task.Id })</li>
        }
        </ul>
    </div>

    <div class="display-label">Participants list</div>
    <div class="display-field">
        <ul>
        @foreach (var participant in Model.Participants)
        {
            <li>@Html.ActionLink(participant.FullName, "Summary", new { controller = "User", id = participant.Id })</li>
        }
        </ul>
    </div>
</fieldset>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>
