@model IEnumerable<BaseMVC.ViewModels.Project.ProjectListItemViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Project list</h2>

@Html.ActionLink("Add new", "Add")

<div id="projectList">
    @Html.Partial("_ProjectList")
</div>
<div>

@*@for (var pageNumber = 1; pageNumber < (@Model.TotalItemsCount / @Model.PageSize) + 1; pageNumber++)
{
    @Html.ActionLink(pageNumber.ToString(), "Search", new { pageNumber = pageNumber })
    <text>|</text>
}
*@
</div>